<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ifmo.rain.mikhailov.rss_client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.FragmentSettings">
            <intent-filter>
                <action android:name="rembo.network.urss.FragmentSettings" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrefActivity">
            <intent-filter>
                <action android:name="ifmo.rain.mikhailov.Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RSSItemDisplayer"
            android:label="Display Rss Item">
            <intent-filter>
                <action android:name="ifmo.rain.mikhailov.displayRssItem" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingActivityForRss">
            <intent-filter>
                <action android:name="ifmo.rain.mikhailov.settings.SettingActivityForRss" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.EditRssChanel">
            <intent-filter>
                <action android:name="ifmo.rain.mikhailov.settings.EditRssChanel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.AddRssChanel"
            android:label="@string/title_activity_add_rss_chanel"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ifmo.rain.mikhailov.settings.AddRssChanel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service android:name=".BackgroundDownloadService" android:label="service"/>

    </application>

</manifest>